numpy==1.15
pandas==0.23.4
scipy>=0.18
nltk
pyjarowinkler
scikit-learn
argparse
matplotlib
pyparsing
cycler
six
python-dateutil
kiwisolver
pytz
gensim==3.8.1 
scikit-learn 
joblib
prettytable 
nimfa 
pillow 
seaborn
